#banner {
    background-image: url(./IMG/Presentación\ Propuesta\ Framework\ Tecnológico\ Abstracto\ Verde.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

#section1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
#card1 {
    width: 350px;
    height: 350px;
    background-image: url(./IMG/html.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#card2 {
    width: 350px;
    height: 350px;
    background-image: url(./IMG/descarga\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#card3 {
    width: 350px;
    height: 350px;
    background-image: url(./IMG/descarga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #742b2b;
    margin-top: 400px;
    width: 100%;
    height: 400px;
}